.principal-banner {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    color:red;
    font-size: 60px;
}

.principal-banner img {
    width: 100%;
    height: auto;
}

/* inicio banner */
.principal-banner .linha-banner {
    position: absolute;
    background-color: #ffffff;
    bottom: 80px;
    height: 30px;
    width: 100%;
    box-shadow: 0 3px 5px 3px #000000;
    opacity: .6;
    display: flex;
    align-items: center;
}

    .principal-banner .linha-banner:hover {
        box-shadow: 0 3px 5px 4px #333;
        opacity: .8;
    }

        .principal-banner .linha-banner {
            color: #000000;
            font-size: 1.6vw;
            text-align: center;
            justify-content: center;
            width: 100%;
            /* text-transform: uppercase; */
        }

@media (max-width: 768px) {
    .principal-banner .linha-banner {
        font-size: 4vw;
    }

    #anterior {
        display: none;
    }

    #proximo {
        display: none;
    }
}

/* seta direita e esquerda */
.principal-banner .navega {
    position: absolute;
    top: 50%;
    opacity: 0.8;
}

.principal-banner .direita {
    right: 0;
}

.principal-banner .navega:hover {
    cursor: pointer;
    color: #c54454;
}

/* fim banner */


