body {
    border-top: 8px solid #ff0;
    color: #333;
}

/* estilo do header */
.header {
}

    .logo{
        display: block;
        width: 80px;
        margin: 20px auto;
        margin-top: 10px;
    }

        .titulo-site {
            width: 100%;
            padding: 10px;
            text-align: center;
            font-size: 5vw;
            text-transform: uppercase;
        }

            @media (min-width: 768px ) {
                .titulo-site {
                    font-size: 3vw;
                }
            }

/* estilo do menu */
.nav {
    position: relative;
    display: inline-block;
    font-size: 1.6vw;
    font-weight: 700;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
    .nav-list {
        
    }

    .nav-item {
        float: left;
        *display: inline;
        zoom: 1;
        list-style: none;
    }

        .nav-item a {
            display: block;
            padding: 15px 20px;
            text-decoration: none;
            color: #000;
            background: #ff0;
        }

            .nav-item:last-child a {
                border-radius: 0 5px 5px 0;
            }

                .nav-item a:hover {
                    background: #ffc600;
                }

/* menu responsivo tags adicionada no javascript */
.nav-mobile {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #ff0;
    border-radius: 5px;
    line-height: 50px;
    width: 100%;
    height: 50px;
}

    .nav-mobile:after {
        content: "↓ ABRIR MENU";
    }

.nav-active {
    display: block !important;
    margin-top: 50px;
}

.nav-mobile-open {
    border-radius: 5px 5px 0 0;
}
    .nav-mobile-open:after {
        content: "↑ FECHAR MENU";
    }


/* menu responsivo */
@media (max-width: 480px ) {
    .nav-item:first-child a {
        border-radius: 0;
    }
}

@media (min-width: 480px ) {
    .nav-mobile {
        left: 50%;
        width: 300px;
        margin-left: -150px;
    }

    .nav-item:first-child a {
        border-radius: 5px 0 0 5px;
    }
}

@media (max-width: 768px ) {
    .nav {
        font-size: 5vw;
        min-height: 50px;
    }

        .nav-list {
            width: 100%;
            display: none;
        }

            .nav-item {
                width: 100%;
                float: none;
                border-top: 1px solid #ffcf00 ;
            }

                .nav-item:last-child a {
                    border-radius: 0 0 5px 5px;
                }

    .nav-mobile {
        display: block;
    }
}





















